{% extends 'notesmain/base.html' %}
{% block content %}
    <h1 style="font-size:50px;">Note Details</h1>
    <div class="container">
      
            <h1>{{ note.title}}</h1>
            <h2>{{ note.text }}</h2>
    </div>
       <div class="button-group">
        <a href="{% url 'deletenote' note.pk %}" class="button">Delete</a>
        <a href="{% url 'editnote' note.pk %}" class="button">Edit</a>
        <a href="{% url 'gotonote' %}" class="button">Back</a>
       </div>
        <footer>
            <p>&copy; 2024 Notes App. All rights reserved.</p>
        </footer>
    </div>
    {% endblock %}